@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* reset rules */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* General styles */

body {
  padding: 2px;
  font-family: "Source Code Pro", serif;
  background: #fff;
}

header,
main > section:first-of-type,
.presenter,
.membership-section,
footer,
.footer-contents {
  width: 1440px;
}

button {
  display: block;
  background-color: #c271ff;
  color: #fff;
  width: 200px;
  height: 44px;
  padding: 13px 20px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 22px;
  margin: 40px auto;
  font: inherit;
  white-space: nowrap;
}

/* sections and others */
main > section:first-of-type {
  height: 1093px;
  padding-top: -1px;
}

header,
main > section:first-of-type {
  background-image: url("./images/Object.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0 auto;
}

header {
  height: 29px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px 70px;
}

header nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-inline: 20px;
}

ul li a {
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 12;
  font-weight: bold;
}

.logo {
  width: 187px;
  height: 39px;
  font-weight: bolder;
}

h1 {
  font-size: 120px;
  font-weight: bold;
  margin: 0 auto;
  color: #fff;
}

.hero-section {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
  overflow: auto;
}

.hero-section span {
  font-size: 16px;
  font-weight: bold;
  margin-inline: 10px;
}

.hero-section h2 {
  margin-top: 150px;
  margin-bottom: 70px;
  font-size: 32px;
  color: #fff;
}

.hero-section h2 span {
  color: #c271ff;
  font-size: 32px;
}

.pros {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 1009px;
  height: 237px;
  justify-content: space-between;
}

.pro {
  width: 150px;
}

.pro img {
  width: 150px;
  height: 150px;
}
.square {
  border-radius: 50%;
}

.pro h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  white-space: nowrap;
  color: #fff;
}
.pro p {
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  margin-top: 15px;
  letter-spacing: -1px;
  color: #fff;
}

.presenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #c271ff;
  color: #fff;
  border: 1px solid #979797;
  height: 392px;
  margin: 0 auto;
}

.presenter div {
  margin-right: 50px;
}
.presenter blockquote {
  line-height: 33px;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0;
  width: 730px;
}

.presenter h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  width: 172px;
  margin-top: 30px;
  color: #fff;
}

.presenter p {
  font-style: italic;
  font-size: 22px;
  color: #fff;
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1228px;
  height: 600px;
  background: #fff;
  margin: 0 auto;
}

.video-section h2 {
  margin: 25px auto;
  font-size: 32px;
  font-weight: mixed;
  color: #071629;
}
.video-section h2 span {
  margin: 25px auto;
  font-weight: bold;
  font-size: 32px;
  color: #c271ff;
}

.video-lists {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.video-list {
  width: 255px;
  height: 335px;
  position: relative;
  margin-inline: 20px;
}

.video-list h3 {
  font-weight: bold;
  font-size: 16px;
  color: #071629;
  margin-top: 1rem;
}

.video-list p {
  font-weight: 400;
  font-size: 14px;
  color: #071629;
  margin-top: 1rem;
  line-height: 24px;
}

.video-list div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.video-list div:first-of-type img {
  width: 30px;
  height: 30px;
  margin-right: 1.5rem;
}

.video-list div:first-of-type h4 {
  font-weight: 500;
  color: #c271ff;
  font-size: 14px;
}

.video-list > img:first-of-type {
  width: 100%;
}

.play-icon {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 77px;
  left: 127.5px;
  transform: translate(-50%, -50%);
}
.rate-length {
  margin-top: 1rem;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;
}
.rate-length p {
  display: inline;
  margin-left: 6rem;
  color: #c271ff;
  font-weight: 500;
  font-size: 14px;
}

.membership-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 502px;
  margin: 100px auto;
  background: #071629;
  padding-top: 82px;
  border: 1px solid #979797;
}

.membership-section h2 {
  color: White;
  font-weight: 400;
  font-size: 32px;
}

.membership-section h2 span {
  color: #c271ff;
  font-weight: bold;
  font-size: 32px;
}

.details {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
}

.details div {
  display: inline-block;
  width: 257px;
  margin-inline: 2rem;
  text-align: center;
}

.details div img {
  width: 43.7px;
  height: 35.4;
}

.details div h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.details div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}

.question-answer-section {
  width: 920px;
  height: 707px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.question-answer-section h2 {
  font-weight: 300;
  font-size: 60px;
  color: #071629;
}

.question-answer-section h3 {
  margin: 80px 0 30px 0;
  font-weight: bold;
  font-size: 16px;
  color: #071629;
}

.question-answer-section > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
}

.question-answer {
  width: 350px;
}

.answer-text {
  font-weight: 400;
  font-size: 14px;
  color: #071629;
}

footer {
  height: 249px;
  margin: 0 auto;
  background-color: #071629;
}

footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.footer-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px 150px 40px 150px;
  margin-top: 100px;
  margin-bottom: 70px;
}

.fa-brands {
  display: inline-block;
  margin-inline: 10px;
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  background: white;
  color: #071629;
  padding-top: 8px;
  padding-left: 7px;
}

.socials {
  width: 230px;
  height: 30px;
}
